.cards-wrapper {
  width: calc(100vw - 4rem);
  height: $card-height;
  overflow: scroll;
  margin: 0 2rem;
  border-radius: 10px;
  .card {
    height: $card-height;
    width: $card-width;
    position: absolute;
    background-size: 100%;
    transition: 1s;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

    .card-face {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;

      .top, .bottom{
        display: inline-flex;
        width: 30px;
        flex-direction: column;
      }
      .bottom {
        transform: rotateY(180deg) rotateX(180deg);
        align-self: flex-end;
        justify-content: flex-end;
      }

      .center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 75px;
      }
    }

    @for $i from 1 through 10 {
      &[class*="-#{$i}"]{
        .value{
        &::before {
          content: "#{$i}"
        }
      }
    }
  }

    &[class*="-11"]{
      .value{
        &::before {
          content: "J"
        }
      }
    }

    &[class*="-12"]{
      .value{
        &::before {
          content: "Q"
        }
      }
    }

    &[class*="-13"]{
      .value{
        &::before {
          content: "K"
        }
      }
    }

   &[class*=" hearts"] {
     .value{
       color: red
     }
     .suit{
        &::before {
          color: red;
          content: "\2665";
      }
    }
  }
   &[class*=" spades"] {
     .value{
       color: black
     }
     .suit{
        &::before {
          color: black;
          content: "\2660";
      }
    }
  }
   &[class*=" diamonds"] {
     .value{
       color: red
     }
     .suit{
        &::before {
          color: red;
          content: "\2666";
      }
    }
  }
   &[class*=" clubs"] {
     .value{
       color: black
     }
     .suit{
        &::before {
          color: black;
          content: "\2663";
      }
    }
  }

    &:hover {
      z-index: 100;
    }
  }

  &.hidden {
    .card {
      background: rgb(0, 212, 255);
      background: radial-gradient(circle, #00d4ff 0%, #090979 65%, #020024 97%);
      border: 1px solid;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .card-face {
        display: none !important;
      }

      img {
        max-width: 80%;
        height: auto;
        display: block !important;
      }
    }

  }

  &.shuffling {
    .card {
      left: 0 !important;
    }
  }
}
